table {
    border-collapse: collapse;
    width : 100%;
}

table, td, th {
    border: 1px solid black;
}

th {
    background-color: #CCC;
}

body{
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
}

input, select, button{
    font-family: monospace;
    font-size: 1em;
}

.inp{
    width:30%;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#000000;
}
a:hover{
    color:#0000FF;
}