table {
    border-collapse: collapse;
    width : 100%;
}

table, td, th {
    border: 1px solid black;
}

th {
    background-color: #CCC;
}

body{
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
}

input, select, button{
    font-family: monospace;
    font-size: 1em;
}

.inp{
    width:30%;
}